body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.w-400{
    text-align: center;
    width: 400px;
    margin: 20px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.w-400 img{
    border-radius: 4px;
    width: 400px;
}
.w-400 dd{
    font-family:cursive
}
.nbutton button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(163, 231, 123);
    color: white;
    border: none;
    height: 40px;
    border-radius: 5px ;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 15px;
    font-size: 15px;
}
.box{
    background-color: rgb(236, 128, 128);
    border-radius: 6px;
}
.relative{
    position: relative;
    background-color: blueviolet;
    width: 600px;
    height: 400px;
    padding: 25px;
    border-radius: 12px;
}
.absolute{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    border-radius: 12px;
    width: 80px;
    height: 80px;
    background-color: white;
}
.card{
    width: 320px;
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 10px;
    margin: 40px auto;
}
.card-img{
    width: 100%;
    border: 12px;
    border-radius: 12px;
   
}
.card-header{
    position: relative;
}
.content{
    background-color: #fff;
    color: black;
    position: absolute;
    bottom: 0;
    margin: 10px;
    padding: 4px 14px;
    border-radius: 20px;
}
.popular{
    background-color: #fff5ce;
    color: rgb(226, 158, 0);
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 4px 14px;
    border-radius: 20px;
}
